Package: com.ryannair05.taptapflip
Name: TapTapFlip
Depends: mobilesubstrate
Version: 1.4.2
Architecture: iphoneos-arm
Description: Double tap to flip camera
Maintainer: Ryan Nair <admin@cpdigitaldarkroom.com>
Author: CP Digital Darkroom <admin@cpdigitaldarkroom.com>
Section: Tweaks
